on:
  push:
    tags:
      - "v*"   # e.g. v1.0.0, v1.2.3
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkout repo
         uses: actions/checkout@v4

       - name: Setup R
         uses: r-lib/actions/setup-r@v2

       - name: Install dependencies
         uses: r-lib/actions/setup-r-dependencies@v2
         with:
           extra-packages: devtools

       - name: Build tarball
         run: R CMD build .

       - name: Upload tarball as artifact
         uses: actions/upload-artifact@v4
         with:
          name: package-tarball
          path: "*.tar.gz"
  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download tarball artifact
        uses: actions/download-artifact@v4
        with:
          name: package-tarball
          path: .

     - name: Create GitHub Release
       uses: softprops/action-gh-release@v2
       with:
          files: "*.tar.gz"
       env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
